body {
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.box {
    background-color: white;
    color: black;
    border-radius: 1em;
    margin: 0 auto;
    width: auto;
    min-width: 30em;
    max-width: 40em;
    height: auto;
    overflow: auto;
    text-align: center;
    align-items: center;
}

.info {
    text-align: center;
    margin: 0 auto;
    width: auto;
    min-width: 30em;
    max-width: 40em;
}